<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="github" value="https://nuget.pkg.github.com/timingthemarket/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="herwineric"/>
            <add key="ClearTextPassword" value="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"/>
        </github>
    </packageSourceCredentials>
</configuration>
